body {
  background-color: #fdfd96;
    color: #f0e4a3;
}
.header {
    h1 {
        text-align: left;
        vertical-align: text-top;
        color: #ab49cc;
        font-size: 40px;

    }
    padding: 20px;
    text-align: left;
    
    background-size: cover; 
    height: 100px;
}
.container {
  display: flex;
  align-items: flex-start; /* Essencial para o sticky funcionar corretamente */
  gap: 0px;
 
}

.sidebar {
  position: sticky;
  top: 0px; /* Distância do topo da tela quando grudar */
  width: 230px;
  background-color: #560675;
  padding: 20px;
  height: 100vh; /* Faz a barra lateral ocupar toda a altura da tela */
}

.content {
  flex: 1;
  background-color:#9f0fdd;
  padding: 20px;

}

p {
    text-indent: 25px;
    text-align: justify;

}

footer {
  height: 100lw;
  width: 100lh;
  text-align: left;
  color: #261057;
}

h2 {
  color: #261057;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

a {
  color: #c09dda;
}

img {
  border: 2px solid #4b0081;
}