.header {
    padding: 20px;
    text-align: left;
    background-image: url(./imagens/headergato.webp);
    background-size: cover; 
    height: 100px;
}
.container {
  display: flex;
  align-items: flex-start; /* Essencial para o sticky funcionar corretamente */
  gap: 20px;
}

.sidebar {
  position: sticky;
  top: 0px; /* Distância do topo da tela quando grudar */
  width: 300px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh; /* Faz a barra lateral ocupar toda a altura da tela */
}

.content {
  flex: 1;
  background-color: #fff;
  padding: 20px;

}

p {
    text-indent: 25px;
    text-align: justify;
}

footer {
    height: 20px;
    width: 100vh;
}
